body {
    background-color: pink;
    font-family: 'Bangers', sans-serif;
}

p {
    font-size: 24px;
}

.balloon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

button.btn.btn-danger {
    max-height: 80px;
    max-width: 200px;
    font-size: 22px;
    border-radius: 10px;
}

button.btn.btn-success {
    max-height: 80px;
    max-width: 200px;
    font-size: 22px;
    border-radius: 10px;
}

button.btn.btn-dark {
    margin-left: 25px;
    max-height: 80px;
    max-width: 200px;
    font-size: 22px;
    border-radius: 10px;
}

.hidden{
    display: none;
}

.card {
    box-shadow: 2px 0 8px red;
    width: 18rem;
}

.scoreboard {
    width: 21rem;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

.scoreboard-name {
    margin-left: 220px;
}